body {
    color: white;
     background-color: gray;
     }
h1{
    color:burlywood;
        font-family: sans-serif;
        background-color: indianred;
        
               
     }
span {
    font-size: 50px;
    color: chartreuse;
     }
